{% extends "page_template.html" %}
{% block content %}
	<h2> TS OTTERBROOK<br><br> About Me </h2>

	<section class="card mb-4 my-2">
		<div class="card-header">
			<p>I am a queer Canadian of First Nations and Welsh heritage. I have been writing for as long as I can remember—according to my mother,
                I started as soon as I could hold a crayon. Around thirty years ago, I began taking my writing seriously and completed my first novel,
                which now sits in a bottom drawer, destined never to see the light of day.
            </p>

<p>After writing a few more unsuccessful novels, I moved from Canada to Wales, where I have lived for the past eighteen years. At the age of forty,
    I completed a BA in English Literature at Cardiff University, alongside a large number of creative writing evening courses.
    Since then, I have continued to write and learn. </p>

<p>I have written six novels, though none are published yet. Recently, I was privileged to be mentored by award-winning fantasy author Mark Lawrence,
    and I aim to have my work published in 2025. I also enjoy writing poetry, although I freely admit I’m not very good at it. </p>

<p>Outside of writing, I love gaming in both tabletop and digital formats. I play eight musical instruments, although I’m far from skilled at any of them.
    I am married with two children and have a small dog named Falkor, affectionately (or perhaps not) nicknamed Falkor the Jerk Russell Terrorist.
			</p>
		</div>
	</section>

{% endblock %}